<h1>{{title}}</h1>
{{# if products }}
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong>{{ this.item.title }}</strong><br/>
                    <em>{{{this.item.description}}}</em>
                </div>
                <div class="col-xs-2 text-right">
                    <span class="badge">{{ this.quantity }}</span>
                </div>
                <div class="col-xs-3 text-right"> LKR
                    {{ this.price }} 
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/remove/{{this.item.id}}" class="btn btn-default"></i> Remove</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

    <hr>
    <div>
        <form >
            <input type="text" name="name" placeholder="Name">

            <div>
                <strong>Total: LKR {{ totalPrice }}</strong>
            </div>
            <a href="/pay" >
                <input class="btn btn-success" type="button" name="pay">
            </a>
        </form>
    </div>
 
{{ else }}
    Your shopping cart is empty.
{{/if}}
