<h1>{{title}}</h1>
{{# if products }}
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong>{{ this.item.title }}</strong><br/>
                    <em>{{{this.item.description}}}</em>
                </div>
                <div class="col-xs-2 text-right">
                    <span class="badge">{{ this.quantity }}</span>
                </div>
                <div class="col-xs-3 text-right"> LKR
                    {{ this.price }} 
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/remove/{{this.item.id}}" class="btn btn-default"></i> Remove</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

    <hr>
    <div>
        <form action="/pay" method="POST">

            <p> 
                <input type="text" name="fname" placeholder="First Name" class="textbox" required>
            </p>

            <p> 
                <input type="text" name="lname" placeholder="Last Name" class="textbox" required>
            </p>

            <p> 
               <input type="tel" name="phonenumber" placeholder="Phone Number" class="textbox" pattern="^(?:7|0|(?:\+94))[0-9]{9,10}$" required>
            </p>

            <p> 
                <input type="email" name="email" placeholder="email" class="textbox" required>
            </p>

            <p>
                <strong>Total: LKR {{ totalPrice }}</strong>
            </p>

            <button type="submit" class="btn btn-success"> PAY VIA ONEPAY </a>
        </form>
    </div>
 
{{ else }}
    Your shopping cart is empty.
{{/if}}
